---

name: "Test"
run-name: "Test"
on:
  - pull_request
  - push
jobs:
  unit-tests:
    strategy:
      matrix:
        python:
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    runs-on: ubuntu-latest
    steps:
      - name: "SETUP: Checkout repository"
        uses: actions/checkout@v4

      - name: "SETUP: Install uv"
        uses: astral-sh/setup-uv@v6

      - name: "SETUP: Install dependencies"
        env:
          UV_PYTHON: "${{ matrix.python }}"
        run: |
          make install

      - name: "RUN: Unit Tests"
        env:
          UV_PYTHON: "${{ matrix.python }}"
        run: |
          make test-unit

  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
      - name: "SETUP: Checkout repository"
        uses: actions/checkout@v4

      - name: "SETUP: Install uv"
        uses: astral-sh/setup-uv@v6

      - name: "SETUP: Install kind"
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.20.0/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: "SETUP: Install kubectl"
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/kubectl

      - name: "SETUP: Install dependencies"
        run: |
          make install
          make install-integration

      - name: "RUN: Integration Tests"
        run: |
          make test-integration

      - name: "CLEANUP: Teardown kind cluster"
        if: always()
        run: |
          make test-integration-teardown
